.SearchInput{
    border-radius: 15px 15px 15px 15px;
    width: 100%;
    padding: 8px;
    border: none;
    box-shadow: 0 6px 12px rgba(8, 179, 173, 0.1);
}
.SearchInput:focus{
    outline: none;
    border-color: #3a8a90;
    box-shadow: 0 0 0 4px rgba(8, 179, 173, 0.2);
    transform: scale(1.05);
}

.Notification-utilisateur{
    text-align: center;
    margin-top: 25px;
}

.departement_details:hover{
    box-shadow: 0 4px 12px rgba(8, 179, 173, 0.2);
}

.declaration-table{
    position: absolute;
    top: 180px;
    width: 1200px;
}
.declaration-table th{
    padding: 10px;
    background-color: #f9fafb;
}


