body {
  margin-bottom: 70px;
   /* Ajoutez une marge en bas pour éviter que le pied de page ne chevauche le contenu */
background-color: #ffffff !important;
/* background-color: #f5f5f5 !important; */

  }
/* Masquer le checkbox parasite dans les popups SweetAlert2 */
.swal2-checkbox,
.swal2-popup .swal2-checkbox {
  display: none !important;
}
.app-container {
  min-height: calc(100vh - 110px); /* Calculez la hauteur minimale de votre contenu pour s'adapter à l'écran */
}

#formContainer {
  position: fixed;
  right: -900px; /* Débutera hors de l'écran */
  width: 500px;
  height: auto;
  transition: right 0.3s ease; /* Effet de glissement du formulaire */
  border: 3px solid rgb(224, 224, 224);
  background-color: #fff;
}
#formContainer1SC {
  position: fixed;
  right: -900px; /* Débutera hors de l'écran */
  width: 400px;
  height: auto;
  transition: right 0.3s ease; /* Effet de glissement du formulaire */
  border: 3px solid rgb(224, 224, 224);
  background-color: #fff;
}
#tableContainer {
 /* Espacement pour afficher le tableau à côté du formulaire */
}

a {
  text-decoration: none;
}
.clientS {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  margin-left: 5px;
  overflow: hidden;
  background-color: #f1f1f1;
}

.table-hover {
  background-color: rgb(23, 7, 7);
  border-radius: 10px;
}
.page-header {
  display: none;
}
.hidden {
  display: none;
}
#formContainer {
  position: fixed;
  right: -100%; /* Débutera hors de l'écran */
  width: 30%;
  height: 100%;
  transition: right 0.3s ease; /* Effet de glissement du formulaire */
  border: 2px;
  border-radius: 10px;
  background-color:rgb(250, 250, 250);
}
#formContainerCommande {
  position: fixed;
  right: -100%; /* Débutera hors de l'écran */
  width: 20%;
  height: 100%;
  transition: right 0.3s ease; /* Effet de glissement du formulaire */
  border: 2px solid #ddd !important;
  border-radius: 10px;
  background-color:rgb(250, 250, 250);
}
#formContainer1SC{
    position: fixed;
    right:  -100; /* Débutera hors de l'écran */
    width: 30%;
    height: 100%;
    transition: right 0.3s ease; /* Effet de glissement du formulaire */
    border: 2px;
    border-radius: 10px;
    background-color:rgb(250, 250, 250);
}
#tableContainer {
  /* Espacement pour afficher le tableau à côté du formulaire */
}

a{
  text-decoration: none;
}
.clientS{
list-style-type: none;
margin: 0;
padding: 5px;
margin-left: 5px;
overflow: hidden;
background-color: #f1f1f1;
}

.table-hover{
  background-color:rgb(250, 250, 250);
  border-radius: 10px;

}
.page-header{
  display: none;
}
.hidden{
  display: none;
}
.custom-select {
  border: none !important;
  border-bottom: none !important;
  box-shadow: none !important;
  margin-left: "-10px",
                  
             
}

.custom-table {
  border-collapse: collapse;
  width: 100%;
}

.custom-table th, .custom-table td {
  border: 1px solid #cb4a4a !important;
  padding: 8px;
  text-align: left;
}

.custom-table th {
  background-color: #f2f2f2;
}
.filter-container input {
  margin-right: 10px;
  padding: 5px;
}
.table-container {
  width: 100%; /* Adjust the width as needed */
  margin: 0 auto;
  /* Center the table horizontally */
}

.table {
  width: 100%;
  margin-top: 3%;
}


.input-warning {
  border: 5px solid red !important; /* Add a red border */
  color: red !important; /* Change text color to red */
}
.ddd{
  background-color: #ddd !important;
}
.btn-danger{
  border-color: red !important;
  background-color: red !important;
  color: #f1f1f1 !important;
}
.btn-secondary {
  background-color: #928f8f !important;
  color:  #fff !important;

}
.ddd th{
  background-color: #ddd;
}
.bgtab{
  background-color: #ddd !important;
}
table th{
  background-color: #ddd;
}
.table_width {
  width: 100%;
}
.table-bordered {
  border-collapse: collapse;
  width: 100%;
}

.table-bordered th, .table-bordered td {
  border: 2px solid #ddd; /* Ajustez la largeur de la bordure ici */
  padding: 8px;
  text-align: left;
}
.back{
  background-color: #23c18756 !important;
}
.backe{
  background-color: #2f8e6b56 !important;
}