
.container-offre-fluid {
  background-color: #ffffff;
  padding-right: 265px;
  position: fixed;
  left: 8.5%;
  top: 7.3%;
  width: 100%;

  
}
    
    h1 {
      color: #444;
    }
    
    .btn-ajouter {
      background-color: #ffffff;
      border: none;
      color: #0e00d4;
      font-weight: 600;
      font-size: large;
      /* margin-bottom: 20px; */
      
    }
    
    .ajouter_icon {
      font-size: 28px;
    }
    
    .search-bar {
      width: 650px;
      padding: 7px;
      border-radius: 20px;
      border: 1px solid #ccc;
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
    }
    
    



    